table
{
    border-collapse: collapse;
    border: 2px solid black;
    width: 50%;
    height: 500px;
}

.ug
{
    background-color: rgb(55, 159, 159);
}

.row
{
    background-color: red;
}

.wadia
{
    background-color: blue;
}

.agc
{
    background-color: blueviolet;
}

.gcc
{
    background-color: yellow;
}